<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="EnfinAssessment">
  <test thread-count="5" name="createTable">
    <classes>
      <class name="com.Enfin.testBase.TestBase"/>
      <class name="com.Enfin.TestCases.Testcase"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
